@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  --primary: #017143;
  --white: #fff;
  --black: #222;
  --grey1: #3a3b3c;
  --grey2: #828282;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



html {
  box-sizing: border-box;
  font-size: 62.5%;
  cursor: url('https://i.ibb.co/c25t6d4/cursor-custom.png'), auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  background-color: #f7f7f7;
  color: var(--black);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 60rem;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}
.aboutUs{
margin: 10rem auto;
max-width:114rem;
overflow: hidden;
}
.aboutUs .title {
  color: #017143;
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.aboutUs .title h1,h2 {
  font-size: 4rem !important;
}


.aboutUs .elementor-divider {
  margin: 20px  0;
  display: flex;
  justify-content: center;
  align-items: center; 
}
.aboutUs .elementor-divider .elementor-divider-separator {
  
  border-top: 2px solid  #f2b80e;
  width: 270px;
  display: inline-block;
}
.aboutUs .introBox {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 0.2rem;
  margin: 30px 0;
}
.aboutUs .introText h3 {
  font-size: 2.7rem;
  padding: 10px 0;
}
.aboutUs .introText p {
line-height: 35px;
}
.aboutUs .breakbreak {
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.aboutUs .breakbreak img {
  width: 60%;
}

@media (max-width: 900px){
  .aboutUs .introBox {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 0.2rem;
    margin: 30px 0;
    padding: 0 10px;
  }
  .aboutUs .introBox .imIntro {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .aboutUs .introText h3{
    text-align: center;
  }
  .aboutUs .breakbreak img {
    width: 70%;
  }
}

@media (max-width: 510px){
  .aboutUs .introText {
    padding:0 20px 20px 20px;
    margin-left: 0;
    width: 100%;
  }
  .aboutUs .breakbreak img {
    width: 100%;
  }
}
.aboutUs .introProduct .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 50px 0;
}
.aboutUs .introProduct .grid-container .item_flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: start;
}
@media (max-width: 600px){
  .aboutUs .introProduct .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 3fr);
    margin: 50px 0;
  }
  .aboutUs .introProduct .grid-container .item1{
    margin: 10px 0;
  }
 
}
.aboutUs .introProduct .grid-container .item_flex .item_content {
  margin-left: 10px;
  text-align: start;
}
.aboutUs .introProduct .grid-container .item_flex .item_content p{
  font-size: 4rem;
}
.aboutUs .introProduct .grid-container .item_flex .item_content h4{
  font-size: 2rem;
  color: #f2b80e;
}

.aboutUs .about_poster img {
  width: 100%;
}

.aboutUs .title h2 {
  margin-bottom: 40px;
}
.aboutUs .aboutUs-layout {
display: grid;
grid-template-columns: repeat(3, 30%);
gap: 2.25rem;
padding: 20px;
margin: 0 auto;
align-items: center;
justify-content: space-between;
}
.aboutUs .aboutUs-layout img{
width: 100%;
height: 100%;
object-fit: cover;
filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */    
-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
-ms-filter: grayscale(100%);
filter: grayscale(100%);
filter: #C8C8C8; /* IE 6-9 */
transition: -webkit-filter .5s;
transition: 1s;
}
.aboutUs .aboutUs-layout .avt_profile .titleName{
margin: 2rem 0rem;
text-align: center;
background-color: var(--primary);
color: var(--white);
font-size: 2rem;
padding: 5px 0px 5px 0px;
cursor: pointer;
}


.aboutUs .aboutUs-layout img:hover{
-webkit-filter: none;
-moz-filter: none;
-ms-filter: none;
filter: none;
object-fit: contain;
transform: scale(1.1);
transition: 1s;
}
.aboutUs-layout .context_profile{
  margin: 1rem 0rem;
}


@media (max-width: 768px) {
.aboutUs .aboutUs-layout {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  gap: 1rem;
  padding: 20px;
}
}
@media (max-width: 528px) {
.aboutUs .aboutUs-layout {
  display: grid;
  grid-template-columns: repeat(1, 100%);
  gap: 1rem;
  padding: 20px;
}
}
.messenger{
  background: transparent;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.28;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  animation: shimmy3 2s infinite;
  animation-direction: alternate;
  
} 
.messenger img{
  cursor: pointer;
}
@keyframes shimmy3 {
  0% {
    transform: translate(0,0);    
  }
  100% {
    transform: translate(10px, -10px);
  }
}
.up{
  font-size: 50px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  color: #788d84;
}
.up:hover{
  color: #00a05d;
}
.iconUp{
  display: none;
}
.detailPersonInfor.clickThanh{
  color: #ffff;
}
.detailPersonInfor.clickNhu{
  color: #ffff;
}
.detailPersonInfor.clickKA{
  color: #ffff;
}
#effect{
  display:none;
  width: 60px;
  position: absolute;
  left: 0%;
  bottom: 0px;
  animation: shimmy4 10s infinite;
  animation-direction: alternate;
  animation-iteration-count: 1;
  animation-fill-mode:forwards;
}
@keyframes shimmy4 {
  0% {
    transform: translate(0px,0px);    
  }

  100% {
    transform: translate(-10px, -450px);
  }
}
body:hover #effect{
  display:block;
}
a:hover{
  text-decoration: none;
}