/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');*/

/**{*/
/*    padding: 0;*/
/*    margin: 0;*/
/*    box-sizing: border-box;*/
/*}*/

/*body{*/
/*    margin-top: -30px;*/
/*    margin-bottom: -35px;*/
/*    width: 100%;*/
/*    !* height: 100vh;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center; *!*/
/*    background: linear-gradient(to right, white, #a5e9cc);*/
/*    !* background: linear-gradient(to left, white, #a5e9cc); *!*/
/*}*/

/*.login {*/
/*    border-radius: 20px;*/
/*}*/

/*.container {*/
/*    !* background-color: blue; *!*/
/*    padding: 0 0;*/
/*    border-radius: 20px;*/
/*}*/

/*.row{*/
/*    border-radius: 20px;*/
/*    box-shadow: 2px 2px 8px ;*/
/*    !* background-color: tomato; *!*/
/*}*/

/*.thumb-box  {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*}*/


/*.login img {*/
/*    border-top-left-radius: 20px;*/
/*    border-bottom-left-radius: 20px;*/
/*}*/

/*.login h1 {*/
/*    font-size: 3rem;*/
/*    color: #017143;*/
/*}*/

/*.logoImg {*/
/*    padding-top: 20px;*/
/*}*/

/*.inp{*/
/*    height: 50px;*/
/*    width: 70%;*/
/*    border-radius: 60px;*/
/*    border: 2px solid  #017143;*/
/*    border-radius: 6px;*/
/*    outline: none;*/
/*}*/

/*.btn1{*/
/*    height: 50px;*/
/*    width: 50%;*/
/*    border: none;*/
/*    outline: none;*/
/*    border-radius: 60px;*/
/*    background-color: #017143;*/
/*    color: white;*/
/*    font-size: 1.2rem;*/
/*}*/

/*.fa-facebook {*/
/*    font-size: 2.5rem;*/
/*    color: rgb(39, 39, 192);*/
/*}*/
/*.fa-google-plus{*/
/*    font-size: 2.5rem;*/
/*    color:  rgb(192, 38, 38);*/
/*}*/

/*.creatAcc, .forgotPass {*/
/*    font-size: 1.25rem;*/
/*    text-decoration: none;*/
/*    color: #5a6d65;*/
/*}*/

/*.creatAcc:hover{*/
/*    color:#017143;*/
/*}*/
/*.forgotPass:hover{*/
/*    color:#017143;*/
/*}*/
/*@media (max-width: 998px) {*/
/*    .offset-1 {*/
/*        margin-left: 0;*/
/*    }*/
/*  }*/

/*  @media (max-width: 768px) {*/
/*    .offset-1 {*/
/*        margin-left: 0;*/
/*    }*/
/*  }*/
/*  .btnPassword{*/
/*   margin-left: -48px;*/
/*   margin-bottom: 5px;*/
/*   cursor: pointer;*/
/*    !* width: 50px; *!*/
/*    height: 46px;*/
/*    color: #017143;*/
/*    border: #017143;*/
/*  }*/
/*  .btnPassword:hover{*/
/*      background: #50a782;*/
/*  }*/


/*input::-ms-reveal,*/
/*input::-ms-clear {*/
/*    display: none;*/
/*}*/
/**/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    margin-top: -30px;
    margin-bottom: -35px;
    width: 100%;
    /* height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; */
    background: linear-gradient(to right, white, #a5e9cc);
    /* background: linear-gradient(to left, white, #a5e9cc); */
}

.login {
    border-radius: 20px;
}

.container {
    /* background-color: blue; */
    padding: 0 0;
    border-radius: 20px;
}

.row{
    border-radius: 20px;
    box-shadow: 2px 2px 8px ;
    /* background-color: tomato; */
}

.thumb-box  {
    display: flex;
    justify-content: center;
    align-items: center;
}


.login img {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.login h1 {
    font-size: 3rem;
    color: #017143;
}

.logoImg {
    padding-top: 20px;
}

.inp{
    height: 50px;
    width: 70%;
    border-radius: 60px;
    border: 2px solid  #017143;
    border-radius: 6px;
    outline: none;
}

.btn1{
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    background-color: #017143;
    color: white;
    font-size: 1.2rem;
}

.fa-facebook {
    font-size: 2.5rem;
    color: rgb(39, 39, 192);
}
.fa-google-plus{
    font-size: 2.5rem;
    color:  rgb(192, 38, 38);
}

.creatAcc {
    font-size: 1.25rem;
    text-decoration: none;
    color: #5a6d65;
}

.creatAcc:hover{
    color:#017143;
}
@media (max-width: 998px) {
    .offset-1 {
        margin-left: 0;
    }
}

@media (max-width: 768px) {
    .offset-1 {
        margin-left: 0;
    }
}
.btnPassword{
    margin-left: -48px;
    margin-bottom: 5px;
    cursor: pointer;
    /* width: 50px; */
    height: 46px;
    color: #017143;
    border: #017143;
}
.btnPassword:hover{
    background: #50a782;
}


input::-ms-reveal,
input::-ms-clear {
    display: none;
}
#buttonSo{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    margin: auto;
}
.fb_iframe_widget{
    display: inline-block;
    position: relative;
    height: 35px;
    width: 120px;
    background: #4561B0;
    box-shadow: #0d70b7;
    text-align: center;
    align-items: center;
}
div#u_0_1_lN {
    width: 120px !important;
    height: 35px !important;
    text-align: center !important;
    align-items: center !important;
    margin: auto!important;
    float: left !important;
}

