:root {
  --primary: #017143;
  --white: #fff;
  --black: #222;
  --grey1: #3a3b3c;
  --grey2: #828282;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
  background-color: #f7f7f7;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

.contentBox{
  margin: 10rem 0 0rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 60rem;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}
.messenger{
  background: transparent;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.28;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  animation: shimmy3 2s infinite;
  animation-direction: alternate;
  
} 
.messenger img{
  cursor: pointer;
}
@keyframes shimmy3 {
  0% {
    transform: translate(0,0);    
  }
  100% {
    transform: translate(10px, -10px);
  }
}
.up{
  font-size: 50px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  color: #788d84;
}
.up:hover{
  color: #00a05d;
}
.iconUp{
  display: none;
}

.post{
margin: 12rem auto;
max-width:114rem;
overflow: hidden;
}
.post .post-layout .wrapper .right{
 float: left;
 width: 30%;
 padding:0rem 2rem;
 border-left: 1px solid #d2d6d4;
 
}
.post .post-layout .wrapper .left{
float: right;
width: 65%;
padding: 10px;
padding:0rem 2rem;
}
.post .post-layout .wrapper .left .title-context h1{
text-transform: uppercase;
text-align: center;
font-size: 3.5rem;
}
.post .post-layout .wrapper .left .nav-title{
display: flex;
justify-content: flex-start;
}
.post .post-layout .wrapper .left .nav-title li{
margin: 1rem 1rem;
}
.post .post-layout .wrapper .left .title-context .context p {
line-height: 25px;
}
.post .post-layout .wrapper .left .title-context .context .img_blog_shop {
text-align: center;
margin: 10px 0;
}
.post .post-layout .wrapper .left .title-context .context .img_blog_shop img {
width: 95%;
}

.post .post-layout .wrapper .right input.form-control.rounded {
font-size:2rem;
}
.post .post-layout .wrapper .right .input-group-text{
font-size: 2rem;
}
.post .post-layout .wrapper .right .poster-near{
margin: 2rem 0rem;
}
.post .post-layout .wrapper .right .poster-near .poster-share{
display: grid;
grid-template-columns: repeat(2, 50%);
gap: 4px;
}
.post .post-layout .wrapper .right .poster-near ul.poster-share{
padding:0px;
}
.post .post-layout .wrapper .right .poster-near .poster-share li{
border: 1px solid #d2d6d4;
padding:5px;
cursor: pointer;
}
.post .post-layout .wrapper .right .poster-near .poster-share .facebook:hover{
background-color:#4267b2;
color:#ffffff;
}
.post .post-layout .wrapper .right .poster-near .poster-share .twitter:hover{
background-color:#14171a;
color:#ffffff;
}
.post .post-layout .wrapper .right .poster-near .poster-share .google:hover{
background-color:#dc282e;
color:#ffffff;
}
.post .post-layout .wrapper .right .poster-near .poster-share .instagram:hover{
background-color:#ee2a7b;
color:#ffffff;
}
.post .post-layout .wrapper .right .poster-near .poster-share i{
padding:2px;
width: 30%;
}
.post .post-layout .wrapper .right .poster-near .poster-share span{
padding:2px;
}
.post .post-layout .wrapper .right .poster-near .poster-share  a:hover{
color:#ffffff;
}
.post .post-layout .wrapper .right .poster-near .near{
font-size:1.8rem;
padding: 1rem 0;
}
.post .post-layout .wrapper .right .poster-near .near .post-near{
width: 100%;
display: flex;
flex-wrap: nowrap;
justify-content: space-evenly;
align-items: center;
flex-direction: row;
border: 2px solid #fff;
border-radius: 0.5rem;
}
.post .post-layout .wrapper .right .poster-near .near .post-near:hover{
border: 2px solid var(--primary);
/* background-color: #017143; */
}
.post .post-layout .wrapper .right .poster-near .near:hover{
color: black;

}
.post .post-layout .wrapper .right .poster-near h4{
color: #c0c5c3;
padding: 4px;
}

@media (max-width: 768px) {
.post .post-layout .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  width: 100%;
}
.post .post-layout .wrapper .left{
  width: 90%;
  margin:auto;
}
.post .post-layout .wrapper .right {
  width: 80%;
  margin-top: 4rem;
}
}
a:hover{
  text-decoration: none;
}