:root {
	--primary: #017143;
	--white: #fff;
	--black: #222;
	--grey1: #3a3b3c;
	--grey2: #828282;
	--grey3: #ebebeb;
  }
  
  *,
  *::before,
  *::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
  }
  
  @import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
  
  html {
	box-sizing: border-box;
	font-size: 62.5%;
  }
  
  body {
	font-family: "Open Sans", sans-serif;
	font-size: 1.7rem;
	background-color: #f7f7f7;
	color: var(--black);
	font-weight: 400;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5 {
	font-weight: 600;
  }
  
  a {
	text-decoration: none;
	color: inherit;
  }
  
  li {
	list-style: none;
  }
  
  .container {
	max-width: 114rem;
	margin: 0 auto;
  }
  
  @media (max-width: 1200px) {
	.container {
	  padding: 0 3rem;
	}
  }
  
  @media (max-width: 768px) {
	.container {
	  max-width: 60rem;
	}
  }
  
  .d-flex {
	display: flex;
	align-items: center;
  }

.product-details{
	padding-top:7rem;
}
.pd-wrap {
	padding-top: 40px;
}
.heading-section {
	text-align: center;
	margin-bottom: 20px;
}
.sub-heading {
    font-size: 12px;
    display: block;
    font-weight: 600;
    color: #2e9ca1;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.heading-section h2 {
	font-size: 32px;
    font-weight: 500;
    padding-top: 10px;
    padding-bottom: 15px;
}
.user-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    position: relative;
	min-width: 80px;
	background-size: 100%;
}
.carousel-testimonial .item {
	padding: 30px 10px;
}
.quote {
	position: absolute;
    top: -23px;
    color: #2e9da1;
    font-size: 27px;
}
.name {
	margin-bottom: 0;
    line-height: 14px;
    font-size: 17px;
    font-weight: 500;
}
.position {
	color: #adadad;
	font-size: 14px;
}
.owl-nav button {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	outline: none;
	height: 25px;
}
.owl-nav button svg {
	width: 25px;
	height: 25px;
}
.owl-nav button.owl-prev {
	left: 0px;
}
.owl-nav button.owl-next {
	right: 0px;
}
.owl-nav button span {
	font-size: 45px;
}
.product-thumb .item img {
	height: 100%;
}
.product-name {
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
	margin-bottom: 4px;
}
.product-price-discount {
	font-size: 3.5rem;
	font-weight: 600;
	color: #017143;
	letter-spacing: 2px;
	margin:1rem 0rem;
}
.product-price-discount span.line-through {
	text-decoration: line-through;
    margin-left: 10px;
    font-size: 14px;
    vertical-align: middle;
    color: #a5a5a5;
}
.align-center {
	align-items: center;
}
.product-info {
	width: 100%;
}
.product-info h1{
	font-size: 3.9rem;
    margin: 1rem 0rem;
}
.reviews-counter {
    font-size: 2rem;
}
.reviews-counter span {
	vertical-align: -2px;
}
.rate {
    float: left;
    margin-right: 0.5rem;
	padding: 3px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float: right;
    width: 15px;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 21px;
    color:#ccc;
	margin-bottom: 0;
	line-height: 21px;
}
.rate:not(:checked) > label:before {
    content: '\2605';
}
.rate > input:checked ~ label {
    color: #ffc700;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}
.product-dtl p {
	font-size: 14px;
	line-height: 24px;
	color: #7a7a7a;
}
.product-dtl .form-control {
	font-size: 15px;
}
.product-dtl label {
	line-height: 16px;
	font-size: 15px;
}
.form-control:focus {
	outline: none;
	box-shadow: none;
}
.product-count {
	margin: 2rem 0rem; 
}
.product-count .qtyminus,
.product-count .qtyplus {
	width: 8%;
    background: var(--primary);
    text-align: center;
    font-size: 2rem;
    line-height:30px;
    color: #fff;
    cursor: pointer;
}
.product-count .display-flex{
display : flex;
font-size: 2rem;

}
.product-count .qtyminus {
	border-radius: 3px 0 0 3px; 
}
.product-count .qtyplus {
	border-radius: 0 3px 3px 0; 
}
.product-count .qty {
	width: 15%;
	text-align: center;
}
.product-count h3{
	margin-top:2rem;
   font-size: 3rem;
   color: var(--grey1)
}
.product-count p{
	width: 100%;
 font-size: 2rem;
  margin: 1rem 0rem;
}
.round-black-btn {
	border-radius: 4px;
    background: var(--primary);
    color: #fff;
	font-size:2rem;
    padding: 7px 45px;
    display: inline-block;
    margin-top: 20px;
    border: solid 2px var(--primary); 
    transition: all 0.5s ease-in-out 0s;
}
.round-black-btn:hover,
.round-black-btn:focus {
	background: transparent;
	color: var(--primary);
	text-decoration: none;
}
.product-info-tabs{
	margin-top:4rem;
	margin-bottom:2rem;
}
.product-info-tabs .nav-tabs {
	border-bottom: 2px solid #d8d8d8;
}
.product-info-tabs .nav-tabs .nav-item {
	margin-bottom: 0;
}
.product-info-tabs .nav-tabs .nav-link {
	border: none; 
	border-bottom: 2px solid transparent;
	color: var(--black);
	font-size: 2rem;
}
.product-info-tabs .nav-tabs .nav-item .nav-link:hover {
	border: none; 
}
.product-info-tabs .nav-tabs .nav-item.show .nav-link, 
.product-info-tabs .nav-tabs .nav-link.active, 
.product-info-tabs .nav-tabs .nav-link.active:hover {
	border: none; 
	border-bottom: 2px solid #d8d8d8;
	font-weight: bold;
}

.product-info-tabs .tab-content .tab-pane {
	padding: 30px 20px;
	font-size: 2rem;
	line-height: 24px;
	color: #7a7a7a;
}
.review-form .form-group {
	clear: both;
}
.mb-20 {
	margin-bottom: 20px;
}

.review-form .rate {
	float: none;
	display: inline-block;
}
.review-heading {
	font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 6px;
    text-transform: uppercase;
    color: #000;
}
.review-form .form-control {
	font-size: 14px;
}
.review-form input.form-control {
	height: 40px;
}
.review-form textarea.form-control {
	resize: none;
}
.review-form .round-black-btn {
	text-transform: uppercase;
	cursor: pointer;
}
.product-details .choosee select{
    font-size: 2rem;
    width: 60%;
    text-align: center;
    border: 2px solid #017143;
    border-radius: 2px;
    padding: 6px;
}
.product-details .choosee  button.btn-primary {
    background-color: var(--primary);
    font-size: 2rem;
    border: none;
}

.messenger {
	background: transparent;
	font-family: Helvetica, Arial, sans-serif;
	line-height: 1.28;
	overflow: hidden;
	-webkit-text-size-adjust: none;
	position: fixed;
	bottom: 80px;
	right: 20px;
	animation: shimmy3 2s infinite;
	animation-direction: alternate;
  }
  .messenger img {
	cursor: pointer;
  }
  @keyframes shimmy3 {
	0% {
	  transform: translate(0, 0);
	}
	100% {
	  transform: translate(10px, -10px);
	}
  }
  .up {
	font-size: 50px;
	position: fixed;
	bottom: 30px;
	right: 20px;
	color: #788d84;
  }
  .up:hover {
	color: #00a05d;
  }
  .iconUp {
	display: none;
  }
  a:hover {
	text-decoration: none;
  }
  .owl-carousel.product-slider{
	  background-color: #0A3019;
  }
  .owl-carousel .owl-item img{
	  width: 100%;
  }
.product-thumb{
	  margin-top:0.5rem;
  }
  .product-thumb .item{
	background-color: #0A3019;
	  margin: 0rem 0.2rem;
  }
  .product-thumb .item img {
    height: 100%;
	width: 100%;
}
.modal-dialog{
	margin-top:8rem;
	z-index: 1000;
}
.modal-dialog .modal-title{
 font-size:2.5rem;
}
.modal-dialog .modal-content .modal-body .chooseMore select{
	width: 100%;
	margin-top:1rem;
}
.modal-dialog .modal-content .modal-body .chooseMore .formBill {
	margin: 0.5rem 0;
	width: 100%;
}
.modal-dialog .modal-content .modal-body .chooseMore .formBill legend {
	font-size: 2rem;
	font-weight: bold;
	color: var(--primary);
	width: auto;
	margin: 0rem 0.5rem;
}
.modal-dialog .modal-content .modal-body .chooseMore .formBill fieldset {
	border: 2px solid #017143;
}
.modal-dialog .modal-content .modal-body .chooseMore .formBill .billContentBox {
	display: flex;
	flex-direction: column;
	padding: 10px;
}
.modal-dialog .modal-content .modal-body .chooseMore .formBill .billContentBox .colSpaceBet {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	padding: 5px 0;
  }
  .modal-dialog .modal-content .modal-body .chooseMore .formBill .billContentBox .colSpaceBet span,h4 {
  font-size: 2rem;
  color: #000;
}
.modal-dialog .modal-content .modal-footer button.btn.btn-secondary{
	font-size: 1.8rem;
}

.modal-backdrop{
	z-index: 0;
}

#exampleModal{
	position: fixed;
	width: 100%;
	max-width: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 1050;
}
