:root {
  --primary: #017143;
  --white: #fff;
  --black: #222;
  --grey1: #3a3b3c;
  --grey2: #828282;
  --back: #62a78a;
  --grey3: #ebebeb;
  --xmas: #d50032;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html {
  box-sizing: border-box;
  font-size: 62.5%;

}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  background-color: #f7f7f7;
  color: var(--black);
  font-weight: 400;

}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 60rem;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}

/* Hero */
.hero {
  width: 100%;
  overflow: hidden;
  height: auto !important;
  background: #fff url('https://i.ibb.co/L0myK85/title1.png') repeat-x bottom left;
  margin-top: 80px;
}

.hero .row {
  position:sticky;

  /* object-fit: cover; */
}
/* .hero .circle{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #017143;
  clip-path: circle(600px at right 750px);
} */
.hero .row img {
  object-fit: cover;
  height: 100%;
  width: 100%;

}


.hero .content{
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: auto;

}

.hero .content .textBox {
  margin-top: -26rem;
  position: relative;
  max-width: 700px;
  margin-left: 5rem;
}

.hero .content .textBox h2 {
  color: black;
  font-size: 4em;
  line-height: 1.4em;
  font-weight: 500;
  margin-top: 15rem;
}

.hero .content .textBox h2 span {
  color:#017143;
  font-size: 1.2em;
  font-weight: 900;
  animation: example1 4s infinite;
  animation-direction: alternate;
}
@keyframes example1 {
  0% {color: #00e686;;}
  25% {color: #00bb6d;}
  50% {color: #00aa63;}
  100% {color: #009c5b;}
}

.hero .content .textBox p {
  color: black;

}

.hero .content .textBox a {
  display: inline-block;
  margin-top: 25px;
  padding: 8px 20px;
  background: #12b36f;
  color: #fff;
  border-radius: 40px;
  font-weight: 500;
  letter-spacing: 1px;
  text-decoration: none;
  animation: shimmy1 2s infinite;
  animation-direction: alternate;
}
@keyframes shimmy1 {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(0px, -5px);
  }
}
.hero .content .textBox a:hover {
  animation-name: example;
  animation-duration: 4s;
  margin-top: 25px;
}
@keyframes example {
  0% {background-color: crimson;}
  25% {background-color: lightsalmon;}
  50% {background-color: pink;}
  100% {background-color: indigo;}
}
.hero .content .imgBox {
  display: flex;
  justify-content: center;
  padding-right: 100px;
  margin-top: 10rem;
}

.content .imgBox img{
  max-width: 330px;
  animation: shimmy 2s infinite;
  animation-direction: alternate;

}
@keyframes shimmy {
  0% {
    transform: translate(0,0);
  }
  100% {
    transform: translate(100px, 20px);
  }
}

.hero .thumb{
  position: absolute;
  left: 50%;
  bottom: 20px;
  transform: translateX(-50%);
  display: flex;
}

.hero .thumb li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  cursor: pointer;
  transition: 0.5s;
}

.hero .thumb li:hover{
  transform: translateY(-15px);
}

.hero .thumb li img {
  max-width: 6rem;
}


/* PRODUCTS */
.section.products{
  padding: 5rem 0rem;
}

.section .product-layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(19.5rem, 1fr));
  gap: 4rem;
  max-width:114rem;
  margin: 0 auto;
  padding: 0 1.6rem;
  margin: auto;
}
.section.products .nav.nav-tabs{
  justify-content: center;
}
.section.products .nav.nav-tabs .nav-item{
  padding:2px;
}
.section.products .nav.nav-tabs .nav-item .nav-link.active.show{
  background-color: var(--primary);
  color: var(--white);
}

.section.products .product {
  overflow: hidden;
  position: relative;
  margin-bottom: 30px;
  background:var(--grey3);
  border: 1px solid var(--white);
}
.section.products .product:hover{
  -webkit-box-shadow: -1px 5px 9px 5px #C0C0C0;
  box-shadow: -1px 5px 9px 5px #C0C0C0;
  border: 1px solid var(--primary);
}

.section.products .product .img-container {
  position: relative;
  cursor: pointer;
}

.section.products .product .img-container img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.section.products .product .bottom {
  padding: 1rem;
  text-align: start;
  background-color: #f5f5f5;
}

.section.products .product .bottom a {
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: black;
  font-weight: 600;
}

.section.products .product .bottom a:hover {
  color: var(--primary);
}

.section.products .product .bottom .price span{
  color: var(--primary);
  font-size: 1.8rem;
  font-weight: 600;
}

.section.products .product .bottom span.cancel{
  font-size: 1.4rem;
  color: var(--grey2);
  text-decoration: line-through;
}
.section.products .product .bottom .price-rating{
  width: 50%;
}
.section.products .product .bottom .price-rating .rating{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  flex-direction: row;
}
.section.products .product .bottom .price-rating .rating i{
  font-size:1rem;
  padding: auto;
  color:#ffb503;
}
.section.products .product .bottom .price-rating .rating .fa.fa-stack{
  padding: 0px;
  margin: 0px;
}


.section.products .product .addCart {
  position: absolute;
  right: 0;
  bottom: 0.6rem;
  background-color: var(--white);
  border-radius: 50%;
  padding: 1.3rem 1.6rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  transition: all 300ms ease-in-out;
}

.section.products .product:hover .addCart {
  border-radius: 1rem 0 0 0;

}

.section.products .product .addCart:hover {
  background-color: var(--primary);
  color: var(--white);
}
.section.products .product .sale-text {
  position: absolute;
  top: 15px;
  left: 15px;
  color: var(--white);
  text-transform: capitalize;
  padding: 2px 8px;
  font-size: 12px;
  background: var(--primary);
  border-radius: 2px;
}

.section.products .product i {
  transition: all 300ms ease-in-out;
}

.section.products .product .side-icons {
  position: absolute;
  right: 0;
  top: 30%;
  transform: translate(80%, -50%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  transition: all 500ms ease-in-out;
}

.section.products .product .side-icons span {
  font-size: 1.4rem;
  background-color: var(--white);
  margin: 0.3rem;
  padding: 1rem 1.3rem;
  border-radius: 50%;
  transition: all 300ms ease-in-out;
}

.section.products .product .side-icons span:hover {
  background-color: var(--primary);
  color: var(--white);
}

.section.products .product:hover .side-icons {
  transform: translate(0%, -50%);

}
.section.products .btn-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.section.products .btn-box a{
  transition: all 300ms ease-in-out;
  border-color:#017143;
  color: #017143;
  border: 2px solid var(--primary);
  padding: 1rem;
  border-radius: 25px;
  width: 23rem;
  text-align: center;
}
.section.products .btn-box a:hover{
  background-color: transparent;
  background-color: #017143;
  color: var(--white);
}
.section-title {
  text-align: center;
  width: 40rem;
  margin:0 auto;
  margin-bottom: 3rem;
  padding: 10px;

}
.section-title h2 {
  /* color: var(--primary); */
  font-size: 3rem;
  text-transform: uppercase;
}

.underlined{
  border-top: 2px solid #017143;
  width: 10rem;
  margin: 0 auto;
  padding: 10px;
  margin-top: 1rem;
}


/* _fdsfdsfs */

@media (max-width: 996px) {
  .section{
    margin: 0px;
    padding: 0px;
  }
  .hero.container {
    margin-top: 10rem;
    margin-bottom: 0px !important;
    padding-bottom: 0px;
  }
  .hero .content .textBox {
    margin-top: -10rem;
    position: relative;
    max-width: 800px;
    margin-left: 5rem;
  }

  .hero .content .textBox h2 {
    font-size: 4em;
    line-height: 1.2em;
    font-weight: 400;
  }

  .hero .content .textBox h2 span {
    font-size: 0.8em;
    font-weight: 350;
  }



  .hero .content .textBox a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 20px;
    color: #fff;
    border-radius: 40px;
    font-weight: 350;
    letter-spacing: 2px;
    text-decoration: none;
  }
  .hero-layout{
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {

  .hero.container {
    margin-top: 10rem;
    height: auto;
    padding-top: 2rem;
  }

  .hero .content .textBox h2 {
    font-size: 2em;
    line-height: 1em;
    font-weight: 300;
  }

  .hero .content .textBox h2 span {
    font-size: 0.8em;
    font-weight: 300;
  }


  .hero .content .textBox a {
    display: inline-block;
    margin-top: 8px;
    padding: 8px 10px;
    color: #fff;
    border-radius: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .hero-layout{
    display: grid;
    grid-template-columns: 2fr;
  }

  .hero .content .textBox h2 {
    font-size: 2em;
    line-height: 1em;
    font-weight: 300;
  }

  .hero .content .textBox h2 span {
    font-size: 0.7em;
    font-weight: 200;
  }


  .hero .content .textBox a {
    display: inline-block;
    margin-top: 5px;
    padding: 8px 20px;
    color: #fff;
    border-radius: 40px;
    font-weight: 300;
    letter-spacing: 1px;
    text-decoration: none;
  }
  .hero-layout{
    display: grid;
    grid-template-columns: 1fr;
  }
}


.messenger {
  background: transparent;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.28;
  overflow: hidden;
  -webkit-text-size-adjust: none;
  position: fixed;
  bottom: 80px;
  right: 20px;
  animation: shimmy3 2s infinite;
  animation-direction: alternate;
}
.messenger img {
  cursor: pointer;
}
@keyframes shimmy3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(10px, -10px);
  }
}
.up {
  font-size: 50px;
  position: fixed;
  bottom: 30px;
  right: 20px;
  color: #788d84;
}
.up:hover {
  color: #00a05d;
}
.iconUp {
  display: none;
}
a:hover {
  text-decoration: none;
}
.ordering.steps{
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 6rem;
}

.ordering.steps .ordering-layout h2 {
  font-size: 3rem;
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.ordering.steps .ordering-layout .ordering-stepss{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(7, 13rem);
  gap: 0px;
  grid-auto-rows: minmax(60px, auto);
  margin: 0.5rem 0px;
  text-align: center;
  justify-content: center;
  align-items: center;

}
.ordering.steps .ordering-layout .ordering-stepss .item h4{
  padding:10px 0px;
  width: auto;
}
.ordering.steps .ordering-layout .ordering-stepss .criea{
  padding:40px;
  border: 3px solid #017143;
  border-radius: 100%;

}
@media (max-width: 768px) {
  .ordering.steps .ordering-layout .ordering-stepss{
    display: grid;
    grid-template-columns: repeat(5, 12rem);
    gap: 0px;
    grid-auto-rows: minmax(60px, auto);
    margin: 0.5rem 0px;
    text-align: center;
    justify-content: center;
    align-items: center;

  }
  .ordering.steps .ordering-layout .ordering-stepss .item h4{
    padding:5px 0px;
    width: auto;
  }
  .ordering.steps .ordering-layout .ordering-stepss .criea{
    padding:30px;
    border: 3px solid #017143;
    border-radius: 100%;

  }
}
@media (max-width: 528px) {
  .ordering.steps .ordering-layout .ordering-stepss{
    display: grid;
    grid-template-columns: repeat(1, 15rem);
    gap: 0px;
    grid-auto-rows: minmax(100px, auto);
    margin: 0.5rem 0px;
    text-align: center;
    justify-content: center;
    align-items: center;

  }
  .ordering.steps .ordering-layout .ordering-stepss .item h4{
    padding:5px 0px;
    width: auto;
  }
  .ordering.steps .ordering-layout .ordering-stepss .criea{
    padding:40px;
    border: 3px solid #017143;
    border-radius: 100%;

  }
  .ordering.steps .ordering-layout .ordering-stepss .min img{
    transform: rotate(90deg);
  }
}
a:hover{
  list-style: none;
  text-decoration: none;
}
/*---------------------
  Form BLog
-----------------------*/

.from-blog {
  padding-top: 50px;
  padding-bottom: 50px;
}

.from-blog .blog__item {
  margin-bottom: 30px;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  transition: all 0.1s;

}

.from-blog__title {
  margin-bottom: 50px;
}

.blog__item__pic img{
  width: 100%;
  cursor: pointer;
  text-align:center;
  padding:5px;
}
.from-blog .blog__item:hover{
  -webkit-transform: scale(1.02); transform: scale(1.02);
  -webkit-box-shadow: 0px 1px 5px -1px rgba(1,113,67,1);
  -moz-box-shadow: 0px 1px 5px -1px rgba(1,113,67,1);
  box-shadow: 0px 1px 5px -1px rgba(1,113,67,1);

}

.blog__item__text ul{
  display: flex;
  margin: 0.4rem 0rem;
}
.blog__item__text ul li{
  margin: 0rem 1rem;
  color: var(--grey2);
}
.blog__item__text h5{
  font-size:2rem;
  margin: 0.1rem 0rem;
  font-weight:bold;
  padding:5px;
}
.blog__item__text h5 a:hover{
  color: var(--primary);
}
.blog__item__text p{
  text-align: start;
  padding:5px;
  padding-bottom: 1rem;
}
/* banner */
.banner .container{
  background-color: var(--xmas);
  border-radius: 5px;
}
.banner .banner_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.banner .banner_box .banner_content{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.banner .banner_content h2 {
  font-size: 5rem;
  letter-spacing: 8px;
}
.banner .banner_content p {
  font-size: 2rem;
  margin: 20px 0 ;
}
.banner .banner_content a {
  border: 1px solid #ffffff;
  border-radius: 50px;
  padding: 7px 10px;
  font-weight: bold;
  transition: 0.7s;
}
.banner .banner_content a:hover {
  background-color: #ffffff;
  color: var(--xmas);
  transition: 0.7s;
}
.banner__pic {
  width: 50%;
}

.banner__pic img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner__decor {
  position: absolute;
  left: 0;
  transform: rotate(-60deg)
}
.banner .container:hover .banner__decor{
  animation-name: decor;
  animation-duration: 2s;
  animation-iteration-count:infinite;
}
@keyframes decor{
  from{ transform: rotate(-60deg)}
  to{ transform: rotate(40deg)}
}
@media (max-width: 1000px){
  .banner {
    margin: 30px 0;
  }
}
@media (max-width: 960px){

  .banner .banner_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .banner .banner_box .banner_content{
    width: 100%;
    margin: 20px 0;
  }
  .banner__pic {
    width: 100%;
  }
  .banner__decor {
    left: 90%;
  }
}
/* .section.about{
  margin-bottom: 6rem;
} */
.about-layout{
  padding: 2                                                                                                                                                                             0px;
  /* border: 5px solid #017143; */
  border-radius: 5px;
  padding: 20px;
  width: 100%;
  background-color: #d4e9e2;
}
.about-layout .wrapper{
  display: grid;
  grid-template-columns: repeat(5, 20%);
  gap: 1px;
  grid-auto-rows: minmax(150px,auto);


}

.about-layout .wrapper .one {
  grid-column: 1 / 3;
  grid-row: 1/3;
}
.about-layout .wrapper .two {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}
.about-layout .wrapper .three {
  grid-column: 1;
  grid-row: 3 / 5;
}
.about-layout .wrapper .four {
  grid-column: 2/4;
  grid-row: 3/5;
}
.about-layout .wrapper .five {
  grid-column: 4 / 7;
  grid-row: 1/5;
}
.about-layout .wrapper .five .content{
  text-align: center;
  margin: 4rem;
}
.about-layout .wrapper .five .content h3{
  font-size: 3rem;
  margin: 1rem 0rem;
  margin: 1rem 0rem;
}
.about-layout .wrapper .five .content h1{
  font-size: 5rem;
}
.about-layout .wrapper .five .content p{
  font-size: 2rem;
  margin: 1rem 0rem;
  text-align: left
}
.about-layout .wrapper img{
  width: 100%;
  height: 300px;
  object-fit: cover;

}
.about-layout .wrapper .item{
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  transition: all 5s;
  overflow: hidden;
  position: relative;
}
.about-layout .wrapper .item .img-change{
  position: absolute;
  top: 0;
  right: 0;
  opacity: 1;
}
.about-layout .wrapper .item:hover .img-change{
  right: -100%;
  opacity: 0;

}

.about-layout .wrapper .five .btn-box{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.about-layout .wrapper .five .btn-box a{
  transition: all 300ms ease-in-out;
  border: 2px solid var(--primary);

  padding: 1rem;
  color: var(--primary);
  border-radius: 25px;
  width: 23rem;
  margin-top: 0rem;
  text-align: center;
}
.about-layout .wrapper .five .btn-box a:hover{
  border-color:#017143;
  color: var(--white);
  background-color: #017143;
}


@media (max-width: 768px) {
  .about-layout .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 1px;
    grid-auto-rows: minmax(70px, auto);
    margin: 1rem 0rem;
  }
  .about-layout .wrapper .one {
    grid-column: 1;
    grid-row: 2;
  }
  .about-layout .wrapper .two {
    grid-column: 2;
    grid-row: 2;
  }
  .about-layout .wrapper .three {
    grid-column: 1;
    grid-row: 3;
  }
  .about-layout .wrapper .four {
    grid-column: 2;
    grid-row: 3;
  }
  .about-layout .wrapper .five {
    grid-column: 1/3;
    grid-row: 1;
    margin-bottom: 2rem;
  }
}
@media (max-width: 528px) {
  .about-layout .wrapper {
    display: grid;
    grid-template-columns: repeat(1, 100%);
    gap: 1px;
    grid-auto-rows: minmax(50px, auto);
    margin: 0.5rem 0rem;
  }
  .about-layout .wrapper .one {
    grid-column: 1;
    grid-row: 2;
  }
  .about-layout .wrapper .two {
    grid-column: 1;
    grid-row: 3;
  }
  .about-layout .wrapper .three {
    grid-column: 1;
    grid-row: 4;
  }
  .about-layout .wrapper .four {
    grid-column: 1;
    grid-row: 5;
  }
  .about-layout .wrapper .five {
    grid-column: 1;
    grid-row: 1;
    margin-bottom: 2rem;
  }
  .about-layout .wrapper .five .btn-box{
    margin-top: 0rem;
    margin-bottom: 4rem;
  }
}

/* BRANDS */
.brands .swiper-container {
  height: 100%;
  width: 100%;
}

.brands .swiper-slide img {
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}
/**/
.image-slider {
  margin-top: 2rem;
  padding-bottom: 20px;
}
.image {
  height: 200px;
  margin-bottom: 20px;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1px;
}
.image-title {
  font-size: 20px;
  color: #8e8fb5;
}
.slick-initialized .slick-slide {
  margin: 0 10px;
}
.slick-arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  border: none;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  line-height: 1;
  z-index: 5;
  transition: all 0.2s linear;
}
.slick-arrow:hover {
  background-color: #2cccff;
  color: white;
}
.slick-prev {
  left: 0;
}
.slick-next {
  right: 0;
}
.slick-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  display: flex !important;
  align-items: center;
  justify-content: center;
  gap: 0 20px;
}
.slick-dots button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border-radius: 100rem;
  background-color: #eee;
  border: none;
  outline: none;
  transition: all 0.2s linear;
}
.slick-dots .slick-active button {
  background-color: #2cccff;
}



/* "aboutUs" */
html {
  cursor: url('https://i.ibb.co/c25t6d4/cursor-custom.png'), auto;
}



