@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");
:root {
  --primary: #017143;
  --white: #fff;
  --black: #222;
  --grey1: #3a3b3c;
  --grey2: #828282;
  --back: #62a78a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}



html {
  box-sizing: border-box;
  font-size: 62.5%;
  cursor: url('https://i.ibb.co/c25t6d4/cursor-custom.png'), auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.7rem;
  background-color: var(--white);
  color: var(--black);
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 600;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.container {
  max-width: 114rem;
  margin: 0 auto;
}

@media (max-width: 1200px) {
  .container {
    padding: 0 3rem;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 60rem;
  }
}

.d-flex {
  display: flex;
  align-items: center;
}

/* --Nav-- */
nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background-color: #f7f7f7;
    height: 8rem;
    line-height: 8rem;
    /* scroll */
    transition: 0.5s;
    transition-timing-function: linear; 
 
  }
  
  #header.active {
    z-index: 999;
    box-shadow: 0 0 10px rgba(0,0,0,0.4);  
  }
  
  
  .nav.fix-nav {
    width: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 999;
    background-color: var(--white);
    opacity: 0.95;
  }
  
  nav .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 100%;
  }
  
  .wrapper .logo img{
    height: 75%;
    width: 75%;
    padding: 4px;
  }
  
  .wrapper .logo a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
  }
  
  .wrapper .nav-list {
    display: inline-flex;
    align-items: flex-end;
  }
  
  .nav-list li i {
    color: var(--grey2);
  }
  
  .nav-list a {
    color: var(--black);
    font-size: 1.8rem;
    padding: 0.9rem 1.5rem;
    border-radius: 0.5rem;
    transition: all 300ms ease;
    font-weight:bold;
  }
  
  .nav-list li a:hover {
    color: var(--primary);
   
  }
  
  .nav-list .drop-menu1,
  .nav-list .drop-menu2 {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    width: 20rem;
    top: 8.5rem;
    line-height: 4.5rem;
    position: absolute;
    background-color: var(--white);
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease;
  }
  
  .nav-list .drop-menu1 li a,
  .nav-list .drop-menu2 li a {
    display: block;
    font-size: 1.5rem;
    width: 100%;
    padding: 0 0 0 1.5rem;
    border-radius: 0;
    color: var(--grey2);
  }
  
  .nav-list .drop-menu1 li a:hover,
  .nav-list .drop-menu2 li a:hover {
    color: var(--primary);
  }
  
  .nav-list li:hover .drop-menu1,
  .nav-list li:hover .drop-menu2,
  .nav-list li:hover .mega-box {
    opacity: 1;
    visibility: visible;
    top: 6.5rem;
  }
  
  .content .row img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .content .row header {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--grey1);
  }
  
  
  .content .row li {
    padding: 0 1rem;
  }
  
  .content .row li a {
    padding: 0 1rem;
    display: block;
    font-size: 5rem;
    color: var(--grey2);
  }
  
  .content .row li a:hover {
    color: var(--primary);
  }
  
  .nav-list .mobile-item {
    display: none;
  }
  
  .nav-list input {
    display: none;
  }

  .wrapper .btn{
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
    display: none;
  }

  .nav-list .icons input {
    font-size: 2rem;
  }
  .nav-list .icons span {
    display: inline-block;
    margin: 0.5rem 1rem 0 0;
    position: relative;
    font-size: 100;
  }
  
  .nav-list .icons a {
    padding: 0;
    display: inline-block;
  }
  
  .nav-list .icons .count {
    justify-content: center;
    position: absolute;
    top: 0.8rem;
    right: -0.8rem;
    background-color: var(--primary);
    height: 2rem;
    padding: 0.5rem;
    color: var(--white);
    font-weight: 700;
    border-radius: 50%;
  }
  .nav-list .icons span:hover{
    color: var(--primary);
  }
  
  @media (max-width: 968px) {
    .wrapper .nav-list {
      position: fixed;
      top: 0;
      left: -100%;
      height: 100%;
      width: 100%;
      max-width: 35rem;
      background-color: var(--white);
      display: block;
      overflow-y: auto;
      line-height: 5rem;
      box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.1);
      transition: all 300ms linear;
    }
  
    .wrapper .nav-list.show {
      left: 0;
    }
  
    .nav-list li {
      margin: 1.5rem 1rem;
    }
  
    .nav-list a {
      display: block;
      font-size: 1.8rem;
      padding: 0 2rem;
      color: var(--black);
    }
  
    .nav-list .drop-menu1,
    .nav-list .drop-menu2 {
      position: static;
      opacity: 1;
      visibility: visible;
      top: 6.5rem;
      padding-left: 2rem;
      width: 100%;
      max-height: 0;
      overflow: hidden;
    }
  
    #showdrop1:checked ~ .drop-menu1,
    #showdrop2:checked ~ .drop-menu2,
    #showMega:checked ~ .mega-box {
      max-height: 100%;
    }
  
    .nav-list .drop-menu1 li,
    .nav-list .drop-menu2 li {
      margin: 0;
    }
  
    .nav-list .drop-menu1 li a,
    .nav-list .drop-menu2 li a {
      color: var(--grey2);
      font-size: 1.5rem;
    }
  
    .nav-list .desktop-item {
      display: none;
    }
  
    .nav-list .mobile-item {
      display: block;
      font-size: 1.8rem;
      padding-left: 2rem;
      color: var(--black);
      cursor: pointer;
      border-radius: 0.5rem;
    }
  
    .nav-list .mobile-item:hover {
      color: var(--primary);
    }
  
    .mega-box {
      position: static;
      top: 6.5rem;
      padding: 0 2rem;
      opacity: 1;
      visibility: visible;
      max-height: 0;
      overflow: hidden;
      transition: all 300ms ease;
    }
  
    .mega-box .content {
      flex-direction: column;
      padding: 2rem 2rem 0 2rem;
    }
  
    .mega-box .content .row {
      width: 100%;
      border-top: 1px solid rgba(255, 255, 255, 0.09);
      margin-bottom: 1.5rem;
    }
  
    .content .row:nth-child(1),
    .content .row:nth-child(2) {
      border-top: 0;
    }
  
    .content .row .mega-links {
      border-left: 0;
      padding-left: 2rem;
    }
  
    .row .mega-links li {
      margin: 0;
    }
  
    .wrapper .btn {
      display: block;
      color: var(--black);
    }
  
    .nav-list .top {
      position: relative;
      display: block;
      background-color: var(--primary);
      width: 100%;
      height: 8rem;
    }
  
    .nav-list .close-btn {
      position: absolute;
      top: 1.5rem;
      right: 2.5rem;
      color: var(--white);
    }
  
    .nav-list .icons {
      padding-left: 2rem;
    }
  }
  /* end navi */

    /* search */
.ipSearchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  transition-timing-function: ease-out;
}

.ipSearchBox input {
    width: 50%;
    border-radius: 60px;
    border: 2px solid  #017143;
    border-radius: 6px !important;
    outline: none;
    font-size: 2.5rem;
    padding: 10px;
}

/* PROMOTION */
.section {
  padding: 10rem 0 1rem 0;
  overflow: hidden;
}

.searchBar {
  padding-top: 10rem;
}

.section .title {
  text-align: center;
  margin-bottom: 5rem;
}

.section .title h2 {
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
}

.section .title span {
  color: var(--grey2);
}

.promotion-layout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.promotion-item {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.promotion-item img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  transition: all 500ms ease-in-out;
}

.promotion-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--white);
  text-align: center;
  z-index: 3;
}

.promotion-content a {
  transition: all 300ms ease-in-out;
  font-size: 1.2rem;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 25px;
}

.promotion-content a:hover {
  font-size: 1.8rem;
  border: 2px solid var(--primary);
  padding: 10px;
  border-radius: 25px;
  background: var(--primary);
}

.promotion-item:hover img {
  transform: scale(1.2);

}

.promotion-item::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease-in-out;
}

.promotion-item:hover::after {
  visibility: visible;
  opacity: 0.2;
}


@media (max-width: 1200px) {
}

@media (max-width: 996px) {
  .promotion-layout {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .promotion-layout {
    grid-template-columns: 1fr;
  }
}
/* custom scroll bar */
::-webkit-scrollbar {
  width: 13px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgrey; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #017143; 
}