@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*common*/
:root {
    --primary: #017143;
    --white: #fff;
    --black: #222;
    --grey1: #3a3b3c;
    --grey2: #828282;
    --pink:#A6447A;

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 1.7rem;
    background-color: #f7f7f7;
    color: var(--black);
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

li {
    list-style: none;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .container {
        padding: 0 3rem;
    }
}

@media (max-width: 768px) {
    .container {
        max-width: 60rem;
    }
}

.d-flex {
    display: flex;
    align-items: center;
}

/*end common*/

/*Check-out bar*/
.checkout-wrap {
    margin: 30px auto 100px;
    z-index: 0;
}

ul.checkout-bar li {
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    display: inline-block;
    margin: 30px auto;
    padding: 0;
    text-align: center;
    width: 24.5%;
}

ul.checkout-bar li:before {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background: #ddd;
    border: 2px solid #FFF;
    border-radius: 50%;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.2);
    height: 34px;
    left: 40%;
    line-height: 34px;
    position: absolute;
    top: -40px;
    width: 34px;
    z-index: 99999;
}

ul.checkout-bar li.active {
    color: #A6447A;
    font-weight: bold;
}

ul.checkout-bar li.active:before {
    background: #A6447A;
}

ul.checkout-bar li.visited {
    color: var(--primary);
    z-index: 99999;
    background: none;
}

ul.checkout-bar li.visited:before {
    background: var(--primary);
    z-index: 99999;
}

ul.checkout-bar li:nth-child(1):before {
    content: "1";
}

ul.checkout-bar li:nth-child(2):before {
    content: "2";
}

ul.checkout-bar li:nth-child(3):before {
    content: "3";
}

ul.checkout-bar li:nth-child(4):before {
    content: "4";
}

ul.checkout-bar li:nth-child(5):before {
    content: "5";
}

ul.checkout-bar li:nth-child(6):before {
    content: "6";
}

ul.checkout-bar a {
    color: #ccc;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

ul.checkout-bar li.active a {
    color: #A6447A;
}

ul.checkout-bar li.visited a {
    color: var(--primary);
}

.checkout-bar li.active:after {
    -webkit-animation: myanimation 3s 0;
    animation: myanimation 3s 0;
    background-size: 35px 35px;
    background-color: var(--pink);
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    width: 100%;
    left: 50%;
    position: absolute;
    top: -30px;
    z-index: 0;
}

ul.checkout-bar {
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    background-size: 35px 35px;
    background-color: #EcEcEc;
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.4) 50%, rgba(255, 255, 255, 0.4) 75%, transparent 75%, transparent);
    border-radius: 15px;
    height: 15px;
    margin: 0 -15px 0;
    padding: 0;
    position: absolute;
    width: 100%;
}

ul.checkout-bar:before {
    background-size: 35px 35px;
    background-color: var(--primary);
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    content: " ";
    height: 15px;
    left: 0;
    position: absolute;
    width: 14%;
}

ul.checkout-bar li.visited:after {
    background-size: 35px 35px;
    background-color: var(--primary);
    background-image: -webkit-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    box-shadow: inset 2px 2px 2px 0px rgba(0, 0, 0, 0.2);
    content: "";
    height: 15px;
    left: 50%;
    position: absolute;
    top: -30px;
    width: 100%;
    z-index: 99;
}

/*End Check-out bar*/

/*BILL TOTAL*/

nav,
.wrapper {
    padding: 10px 50px;
    margin-bottom: 4rem;
}

nav .logo a {
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    text-decoration: none;
}

nav div.ml-auto a {
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
}

header {
    padding: 20px 0px;
}

header .active {
    font-weight: 700;
    position: relative;
}

header .active .fa-check {
    position: absolute;
    left: 50%;
    bottom: -22px;
    background-color: #fff;
    font-size: 0.7rem;
    padding: 5px;
    border: 1px solid #008000;
    border-radius: 50%;
    color: #008000;
}

.progress {
    height: 2px;
    background-color: #ccc;
}

.progress div {
    display: flex;
    align-items: center;
    justify-content: center;
}

.progress .progress-bar {
    width: 40%;
}

#details {
    padding: 30px 50px;
    min-height: 300px;
}

input {
    border: none;
    outline: none;
    border-radius: 20px !important;
}

.form-group .d-flex {
    border: 1px solid #ddd;
}

.form-group .d-flex input {
    width: 95%;
    /* border-radius: 20px !important; */
}

.form-group .d-flex:hover {
    color: #000;
    cursor: pointer;
    border: 1px solid #008000;
}

select {
    width: 100%;
    padding: 8px 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

input[type="checkbox"]+label {
    font-size: 1.5rem;
    font-weight: 600;
    
}

#address,
#cart,
#summary {
    padding: 20px 50px;
}

#address .d-md-flex p.text-justify,
#register p.text-muted {
    margin: 0;
}

#register {
    background-color: #d9ecf2;
}

#register a {
    text-decoration: none;
    color: #333;
}

#cart,
#summary {
    /* max-width: 500px; */
    max-width: 100%;
}

.h6 {
    font-size: 1.2rem;
    font-weight: 700;
}

.h6 a {
    text-decoration: none;
    font-size: 1rem;
}

.item img {
    object-fit: cover;
    border-radius: 5px;
}

.item {
    position: relative;
}
.d-flex.jusify-content-start.align-items-center.rounded.p-2 {
    border: 1.5px solid var(--primary);
    border-radius: 20px !important;
}
.number {
    position: absolute; 
    font-weight: 800;
    color: #fff;
    background-color: #0033ff;
    padding-left: 7px;
    border-radius: 50%;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    top: -5px;
    right: -5px;
}

.display-5 {
    font-size: 1.2rem;
}

#cart~p.text-muted {
    margin: 0;
    font-size: 0.9rem;
}

tr.text-muted td {
    border: none;
}

.fa-minus,
.fa-plus {
    font-size: 0.7rem;
}

.table td {
    padding: 0.3rem;
}

.btn.text-uppercase {
    border: 1px solid #333;
    font-weight: 600;
    border-radius: 0px;
}

.btn.text-uppercase:hover {
    background-color: #333;
    color: #eee;
}

.btn.text-white {
    background-color: #66cdaa;
    border-radius: 0px;
}

.btn.text-white:hover {
    background-color: #3cb371;
}

.wrapper .row+div.text-muted {
    font-size: 0.9rem;
}

.mobile,
#mobile {
    display: none;
}

.buttons {
    vertical-align: text-bottom;
}

#register {
    width: 50%;
}

.h5 {
    font-size: 1.75rem !important;
    font-weight: bold;
}

/*set padding of blockInfo*/
.blockInfo {
    padding-left: 45px;
}

@media(min-width:768px) and (max-width: 991px) {
    .progress .progress-bar {
        width: 33%;
    }

    #cart,
    #summary {
        max-width: 100%;
    }

    .wrapper div.h5.large,
    .wrapper .row+div.text-muted {
        display: none;
    }

    .mobile.h5,
    #mobile {
        display: block;
    }

    .navBtn {
        position: relative;
        width: 80%;
    }

}

@media(min-width: 576px) and (max-width: 767px) {
    .progress .progress-bar {
        width: 29%;
    }

    #cart,
    #summary {
        max-width: 100%;
    }

    .wrapper div.h5.large,
    .wrapper .row+div.text-muted {
        display: none;
    }

    .mobile.h5,
    #mobile {
        display: block;
    }

    .buttons {
        width: 100%
    }
}

.checkout-bar {
    margin: 80px 0 0 0 !important;
}

@media(max-width: 575px) {
    .progress .progress-bar {
        width: 38%
    }

    #cart,
    #summary {
        max-width: 100%
    }

    nav,
    .wrapper {
        padding: 10px 30px
    }

    #register {
        width: 100%
    }
}

@media(max-width: 424px) {
    body {
        width: fit-content
    }
}

@media(max-width: 375px) {
    .progress .progress-bar {
        width: 35%
    }

    body {
        width: fit-content
    }
}

/*END BILL TOTAL*/

/* set padding-right checkout bar*/
.mrCheckout {
    margin-right: 0px !important;
}

/*design button */
.btnNav {
    background: var(--primary);
    padding: 0.8rem 1rem;
    color: var(--white);
    border-radius: 3rem;
    border-radius: 500px;
    box-shadow: 0 0 6px rgb(0 0 0 / 24%), 0 8px 12px rgb(0 0 0 / 14%);
    font-size: 1.9rem;
    overflow: hidden;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition-duration: .2s;
    transition-property: transform,box-shadow,width,height;
    transition-timing-function: ease;
    z-index: 1;
    top: 80%;
}

.btnContinue {
    background-color: var(--primary);
    color: var(--white);
    border: 2px solid var(--primary);
    font-size: 1.8rem;
   
}

.btnBack {
    background-color: white;
    color: var(--primary);
    border: 2px solid var(--primary);
    font-size: 1.8rem;
  
}

.btnBack:hover {
    background-color: var(--primary);
    color: var(--white);
    font-size: 1.8rem;
  
}
.messenger{
    background: transparent;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.28;
    overflow: hidden;
    -webkit-text-size-adjust: none;
    position: fixed;
    bottom: 80px;
    right: 20px;
    animation: shimmy3 2s infinite;
    animation-direction: alternate;
    
  } 
  .messenger img{
    cursor: pointer;
  }
  @keyframes shimmy3 {
    0% {
      transform: translate(0,0);    
    }
    100% {
      transform: translate(10px, -10px);
    }
  }
  .up{
    font-size: 50px;
    position: fixed;
    bottom: 30px;
    right: 20px;
    color: #788d84;
  }
  .up:hover{
    color: #00a05d;
  }
  .iconUp{
    display: none;
  }

  #addressDetail:focus{
        display: block;
        outline: none;
        text-align: left;
        max-width: 100%;
  }